* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Futura, Jost;
}

body {
  background: #FAFBFF;
  margin: 10px;
  font-size: 100%;
}

header {
  color: #0018A4;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.options-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.options-section h2 {
  font-size: 1.375em;
  font-weight: 700;
  cursor: pointer;
}

.options-section h3 {
  font-size: 1.125em;
  font-weight: 700;
}

.filters,
.sorting {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filters-container,
.sorting-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 16px;
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hidden {
  display: none;
}

.sorting-options,
.filter-options {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 26px;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

label {
  color: #0018A4;
  padding: 8px 16px;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
}

.filter-options label {
  background: #ccffe2;
}

.filter-options label:hover {
  border-color: #0018A4;
}

/* style label when checkbox is checked */
.filter-option:checked+label {
  color: #fff;
  background: #0018A4;
}

.sorting-options label {
  background: #ffecea;
}

.sorting-options label:hover {
  color: #FFF;
  background: #ff6589;
  border-color: #0018A4;
}

/* style label when radio button is checked */
.sorting-option:checked+label {
  color: #FFF;
  background: #ff6589;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  justify-content: stretch;
  gap: 1.5rem;
  margin: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
  gap: 16px;
  background: #FFF;
  border: 2px solid #e9e9e9;
  border-radius: 16px;
}

.card:hover {
  border-color: #0018A4;
  box-shadow: 0px 0px 30px 0px rgba(0, 24, 164, 0.20);
}

.card h3 {
  font-size: 1.125em;
  font-weight: 700;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card hr {
  border: 0;
  height: 1px;
  background: #e9e9e9;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cuisine,
.cooking-time {
  display: flex;
  gap: 4px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
}